extends layout

block content
  .container
    h1
      .label.label-warning(style="text-align: center; margin-top:10px;")
        | Dino Fun World
    .row
      .col-sm-6
          select#selectedDate.select.form-control.input-sm(form='addProperty', name='date',
          style="margin-bottom: 10px;" onchange="resetMap()")
            option(value='0', selected=true) -- Day --
            option(value='2014-06-06') Day 1 - Friday 06/06/2014
            option(value='2014-06-07') Day 2 - Saturday 06/07/2014
            option(value='2014-06-08') Day 3 - Sunday 06/08/2014
      .col-xs-1
        input(type="button" name="back" value="<" onclick="decrementSlider()")
      .col-sm-5
        input#timeSlider(type="range", min="0", max="600", steps="1", value="0", oninput="updateChart(this.value)"
            style="width: 100%; margin-top: 10px; margin-bottom-10px;")
      .col-xs-1
        input(type="button" name="forward" value=">" onmousedown="incrementSlider()")
    .col-sm-12
      .input-group-addon.label.label-success#sliderValue(style="margin-bottom: 10px;")
       | Date/Time Selected
    .map(style="div-align:center;")
    #dataLoadingModal.modal.fade(role="dialog", style="align-content: center;")
      .modal-dialog
        .modal-content
          .modal-body
            img#loadingMessageImage(src="images/loading.gif")
            #loadingMessage



  script.
    var svg = d3.select(".map")
          .append("svg")
          .attr("width", width + 300)
          .attr("height", height);
    showMap();
