doctype html
html(lang='en')
  head
    title='Dino Fun World'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    script(type='text/javascript' src='https://code.jquery.com/jquery.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
    script(type='text/javascript' src='https://d3js.org/d3.v4.min.js')
    script(type='text/javascript' src='/javascripts/mapviz.js')
  body
    block content