extends layout

block content
    h1 Dino Fun World (updated)
    br
    #container
        input#timeSlider(type="range", min=0, max=100, step=1, value=0, width=400, oninput="updateChart(this.value)")

    script.
        var dots = JSON.parse('!{movements}');
        renderMap(dots);


