body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  margin: 0 auto;
  display: block;
}

.container {
  border: 1px solid black;
}

a {
  color: #00B7FF;
}

.inputDateTime {
  margin: 10px;
}

.map {
  margin: 0 auto;
  display: block;
}

#loadingMessageImage {
  margin: 0 auto;
  display: block;
}

#loadingMessage {
  margin: 0 auto;
  display: block;
  align-content: center;
}